<!DOCTYPE html>
<html >

  <head>

    <meta charset="UTF-8">
    <title>Popous</title>
    <link rel="stylesheet" href="assets/css/index_style.css">
    <!-- 最新編譯和最佳化的 CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- 選擇性佈景主題 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="assets/img/favicon.ico" />
  </head>

  <body>
    <h1>Hello, Dear <%= user['idname'] %></h1>
  </body>
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <!-- 最新編譯和最佳化的 JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <!-- 切換按鈕的js -->
  <script type="text/javascript" src="assets/js/switch.js">  </script>
</html>
