* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
html>body {
font-family: Arial;
background-color: #4EAFCD;
/*
background-image: url(../img/background-photo.png);
*/
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
padding-top: 50px;
overflow-x: hidden;
}

.login {
margin: 20px auto;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px;
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 80%;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background-color: #7ec8b9;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}
.btn:hover {
  background-color: #5482ab;
}
.switch-btn-div{
	position: absolute;
  height: 34px;
  top: 100px;
  right: -10px;
	z-index: 1;
}
/*
#switch-btn:hover{
  background-color: rgba(0,0,0,.6);
}
#switch-btn{
  cursor: pointer;
	background-color: #334858;
	padding: 20px;
	border-radius: 5px
}
#switch-btn>p{
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  padding: 7px;
	margin: 0px;
	position: relative;
	top: -17px;
}
*/
#signup-box{
  position: absolute;
  top: 0px;
  left: 100%;
  height: 100%;
	background-color: #334858;
  background-size: cover;

}
#signup-err{
	color: #e03838;
}
.login-link {
  font-size: 12px;
  color: #337ab7;
  display: block;
	margin-top: 12px;
}
.login-logo{
	text-align:center;
	padding-top: 15px;
	padding-bottom: 50px;
}
.img-fix-size{
	max-width: 100%;
  height: auto;
}

#login-err{
	margin-top: 10px;
  color: #e03838;
}
.signup-screen{
	padding: 20px;
	border-radius: 5px;
}
.signup-title{
	color: #FFFFFF;
	padding-bottom: 10px;
}
.signup-p{
	color: #FFFFFF;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 80%;
  transition: border .5s;
}
.signup-btn{
	padding-top: 5px;
	text-align: center;
}
